html{
    overflow-x: hidden;
  }

  
  /* hero */
  .hero {
    position: relative;
    text-align: center;
    color: black;
    padding: 150px 0;
  }
  
  .hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity:0.5;
    z-index: -1;
    background-color: black;
  }
  
  .hero h1 {
    font-size: 3.5rem;
  }
  
 
  /* card */
  .cards{
  box-shadow: rgba(0, 0, 0, 0.19) 0px -10px 20px, rgba(0, 0, 0, 0.23) 0px -6px 6px;
  
  }
  .card{
  
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 5px #213a62;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  }
  .startcards:hover{
  transform: scale(1.02);
  background: #213a62;
  color: white;
  }
  .card .icon-color,.card h5,.card-title{
    color: #213a62;
  }
  .card:hover .icon-color,.card:hover .card-body h5{
    color: #fff;
  }

  /* whoweare */
  .whoweare{
  border-radius: 10px;
  }
  /* services */
  .services{
  background: dodgerblue;
  }
  #serviceshead{
  color: white;
  }
  .custom-card {
  
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
  }
  
  .custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: dodgerblue;
  border: 2px solid white;
  color: white;
  }
  .custom-card:hover .icon{
  color: white;
  }
  
  .icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 20px auto 0px auto;
  font-size: 18px;
  color: #3498db;
  }
  
  .card-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  }
  
  /* Why choose us */
  .why-us h2 {
  position: relative;
  margin-bottom: 35px;
  }
  .why-us h2::after {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: dodgerblue;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin: 0 auto;
  }
  
  .why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
  transition: 0.5s;
  position: relative;
  
  background: rgba(30, 143, 255, 0.171);
  
  height: 250px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
  }
  .why-us .box:hover {
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.20);
  background-color: rgba(0, 0, 0, 0.3);
  }
  .why-us .box img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition:all ease 1s; 
  }
  .why-us .box:hover img {
  opacity: 1;
  }
  .why-us .box span {
  display: block;
  font-size: 56px;
  font-weight: 700;
  color: dodgerblue;
  position: absolute;
  right: 10px;
  top: 0px;
  line-height: normal;
  }
  .why-us .box h4 a {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: dodgerblue;
  text-decoration: none;
  }
  .why-us .box p {
  color: #3498db;
  font-size: 15px;
  margin: 0;
  padding: 0;
  }
  .why-us .box:hover span,
  .why-us .box:hover h4 a,
  .why-us .box:hover p {
  color: white;
  }
  
  .main{
  overflow: hidden;
  }

  