@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
/* navbar */
.navbar-toggler-icon {
    color: #2e1f1f;
}

.navbar-toggler{
    border-color: #2e1f1f;
}
.logo{
    max-width: 150px; 
    max-height: 50px;
}
#navbar-example{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.nav-item a{
    color: black;
}
.nav-pills .nav-item .nav-link.active {
    background-color: #2e1f1f; 
    color: white;
}

.nav-pills .nav-link:hover {
    background-color: #2e1f1f;
    color: white;
}
.brand-name{
    color: #2e1f1f;
}

.scrollspy-example{
    width: 100vw !important;
}

/* home */
#home{
    background: #e4c9bf;
}
.row>*{
    margin-top: 10px !important;
}
#home h1{
    color: #2e1f1f;
}
#home p{
    color: #8B4513;
}
.btn{
    color: #2e1f1f;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid #2e1f1f;
}
.btn:hover{
    background-color: #2e1f1f;
    color: white;
}

@media screen and (max-width:768px) {
    
    .col-sm-8{
        width: 100% !important;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    #home .row{
        margin-top: -100px;
        padding-bottom: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .nav-pills {
        display: block;
        text-align: center;
    }
    .brand-name{
        margin: 0px 8px 8px 8px;
    }
    .col-sm-8{
        width: 100% !important;
    }
    #home {
        padding: 3rem 0 !important;
    }
  
}
@media screen and (max-width:475px){
    .brand-name{
        display: none;
    }
    .logo{
        margin: 10px 0px;
    }
}


/* services */
#serviceshead{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px -10px 20px, rgba(0, 0, 0, 0.23) 0px -6px 6px;

}


#serviceshead h1{
    color: #2e1f1f;

}
#serviceshead p{
    color: #8B4513;
}
.service-card,.contact-card{
    color: #2e1f1f;
    border-radius: 15px;
    border: none;
    box-shadow: 0 1px 5px #2e1f1f;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.service-card:hover,.contact-card:hover{
    transform: scale(1.05);
}

.card-text{
    color: #8B4513;
}
/* about */
.abouthead {
    background: #e4c9bf;
    text-align: center;
    padding: 50px 0;
}

.styled-image{
    transition: 0.2s ease-in-out;
}
.styled-image:hover{
    transform: scale(1.05);
    cursor: pointer;
}

  /* contact */

  .contact-section {
    width: 100%;
    padding: 40px;
}
#contact{
    background: #e4c9bf;

}


/* shop */
.shophead{
    background: #e4c9bf;
    text-align: center;
    padding: 50px 0;
}
.shophead h1{
    color:#2e1f1f;
    
}
.product-card {
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 1px 5px #8B4513;
    cursor: pointer;
    border: none;

}
.card-body h5{
    color: #2e1f1f;
}

.product-card:hover {
    transform: scale(1.05);
}
/* footer */
.footer {
    text-align: center;
    padding: 20px 0 0 0;
}

.footer i {
    font-size: 25px;
    padding: 10px;
}

.footer a {
    color: #2e1f1f;
    cursor: pointer;
}
.footer a:hover{
    color: #8B4513;
}
.footercontent{
    color: #8B4513;
}
.copyright{
    border-top: 2px solid #2e1f1f;
    padding: 20px;
    font-size: 1rem;
}
#about #contact .footer{
    width: 100vw !important;
}
.main{
    overflow-x: hidden;
}